<div class="dropdown">
  <div class="selected-option" (click)="toggleDropdown()">
    {{ selectedOption2 || 'Selecciona un usuario' }}
    <i class="fa-solid fa-chevron-down"></i>
  </div>
  <div class="options-list custom-list">
    <ul *ngIf="selectorOpen">
      <li *ngFor="let option of options" (click)="onSelect(option)">{{ option }}</li>
    </ul>
  </div>
</div>

<!-- <div class="w-4 h-4 rounded-full mr-2" [ngClass]="{
                'bg-red-500': option.dispo,
                'bg-green-500': !option.dispo }"></div> -->