li {
    list-style: none;
    text-align: left;
}

ul {
    padding: 0;
}	

.dropdown {
    margin: 1rem;
    width: 20rem;    
}

.fa-solid {
    padding-left: 1rem;
}

.selected-option {
    display: flex;
    padding: 0.5em;
    border-block-color: black;
    border: 1px solid;
    border-radius: 0.3rem;
    justify-content: space-between;
}

.selected-text {
    font-weight: bold;
  }

.options-list {
    position: relative;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid black;
    z-index: 99 !important;
}

.custom-list {
    list-style: none;
    padding: 0;
  }
  
  .custom-list li {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .custom-list li:hover {
    background-color: #3498db;
    color: #ffffff;
  }

.fa-circle {
    color: green;
    float: left;
    margin-right: 0.5rem;
}

.fa-circle.red {
    color: red;
    float: left;
    margin-right: 0.5rem;
}

.fa-check {
    margin-right: 0.5rem;
    float: right;
}

.clickfuera {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
}